@media(max-width:1000px){
  .lesson{
    width: max-content;
  }
}

@media(max-width:670px){

  .lesson-wrapper{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .lesson{
    width: 75%;
    margin-bottom: 20px;
  }

  .lesson2{
    width: 75%;
    margin-top: 10px;
  }


  .footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right:110px;
}

.footer-list li{
margin-left: 160px;
}

.footer-list a{
  margin-left: 100px;
  
}

}
